body {
  background-color: #023D71;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: #fff;
}

.logo {
  position: absolute;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%, 0);
}

.logo-login {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.app-main textarea {
  width: 60%;
  height: 200px;
  resize: none;
  margin-bottom: 8px;;
}

.app-link {
  color: #61dafb;
}

.app--greetings {
  color: #000;
}
