.Chat-main {
    display: flex;
    width: 100%;
}

.Chat-main--text {
    width: 50%;
}

.Chat-main textarea {
    width: 95%;
    height: 200px;
    resize: none;
    margin-bottom: 8px;;
}

.Chat-main--message {
    width: 45%;
}

.Chat-main--message li {
    width: 100%;
    height: 40px;
    color: #000;
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 6px;
    border-radius: 8px;
}

.Chat-main--message li:nth-child(odd) {
    background-color: #fff;
}

.Chat-main--message li:nth-child(even) {
    background-color: #ddd;
}
